<main>
  <div class="py-4 text-center">
    <span class="font-black mb-0 text-gray-700 text-3xl">
      Load Excel Dynamic
    </span>
  </div>
  <hr class="my-4">
  <div class="flex justify-center items-center">
    <button mat-raised-button  color="primary" >
      <label for="file-upload" class="flex justify-between items-center gap-2">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload</span>
      </label>

      <input id="file-upload" [disabled]="showSpinner" type="file" (change)="listening($event)">
    </button>
  </div>

  <hr class="my-4">
  <div class="shadow-lg" [hidden]="table.dataSource.data.length === 0 || showSpinner">
    <mat-form-field class="w-full">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
    <mat-table
      [dataSource]="table.dataSource"
      matSort
      #sort="matSort"
    >
      <ng-container *ngFor="let item of table.columns" [matColumnDef]="item">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{
          item.replaceAll('_', ' ') | titlecase
          }} </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row[item]; else empty" [matTooltip]="row[item]">
            {{
            row[item] | truncateStr: [12,'...']
            }}
          </span>
          <ng-template #empty>
              Vacio
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="table.columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: table.columns;"></mat-row>

    </mat-table>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 15, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="mt-10 flex justify-center items-center">
    <mat-spinner
      *ngIf="showSpinner"
    ></mat-spinner>
  </div>
</main>
